// Estas son las variables que se han utilizdao en esta practica, que vienen a ser los colores y los tipo de letra

$color_1: black;
$color_2: #80662B;
$color_3: #b99b5f;
$color_4: #2e5306;
$color_5: #745b1b;
$color_6: #fdfdfb;
$color_7: #525252;
$color_8: #FDFDFB;
$color_9: #816221;
$color_10: #73541b;
$color_11: #73541B;
$color_12: #ceb57d;
$color_13: #FFFEFF;
$color_14: #674d1c;
$color_15: #dadada;
$color_16: #fcfcfc;
$color_17: #383435;
$color_18: #fffeff;
$font_family_1: 'AndikaRegular';
$font_family_2: 'CarterOneRegular';
$font_family_3: Arial;